@model IEnumerable<EsameBackend.Models.Verbale>

<h1>Verbali</h1>

<table class="table">
    <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Violazione</th>
            <th>Data Violazione</th>
            <th>Importo</th>
            <th>Decurtamento Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Anagrafica.Cognome</td>
                <td>@item.Anagrafica.Nome</td>
                <td>@item.TipoViolazione.Descrizione</td>
                <td>@item.DataViolazione</td>
                <td>@item.Importo</td>
                <td>@item.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("Create")">Create New</a>
